WORKLFLOW(2).json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enable-repo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "36a14fca-936a-4497-8e15-512292b4e1bc",
      "name": "Webhook",
      "webhookId": "3771ac5e-bd1f-4121-b1e2-ef41bf69a067"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$json.body.repo_full_name}}/hooks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.body.access_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"name\": \"web\",\n  \"active\": true,\n  \"events\": [\"pull_request\"],\n  \"config\": {\n    \"url\": \"https://papaorwot.app.n8n.cloud/webhook/github-pr\",\n    \"content_type\": \"json\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "3ed624bc-fd18-436e-bb41-d1906694238e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        0
      ],
      "id": "79fa3cea-a669-4113-b509-b50d3c20313a",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2b4e0e90b8c5cb9f69525738130674580f6c01df147c34c98be5acd837bbb1b1"
  }
}
